// SIZES
$scoresFontSize: 22px;
$scoresLabelFontSize: 13px;

// FONTS
$primaryFonts: San Francisco, sans-serif;

// COLORS
$primaryColor: #776e65;

$mainColor: #faf8ef;

$buttonsBackgroundColor: #8f7a66;
$buttonsColor: #f9f6f2;

$scoresBackgroundColor: #bbada0;
$scoresColor: white;
$scoresLabelColor: #eee4da;

$boardBackgroundColor: #bbada0;
$boardCellColor: rgba(238, 228, 218, 0.35);